body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9pt;
  font-weight: lighter;

  background-color: black;
  color: white;
}

h1 {
  font-size: 12pt;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #BBB;
}

a:hover {
  color: #FFF;
}

#canvas {
  width: 100%;
  height: 100%;
}

span {
  float: left;
}

.canvas_container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.controls {
  position: absolute;
  top: 1em;
  left: 1em;
}

.controls .current_point {
  width: 100%;
  background-color: yellow;
  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
  -ms-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
}

.controls .current_point .control_point{
  color: black;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  -ms-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
}

.controls .current_point .control_point:hover{
  color: #000;
}

.controls .point_list {
  padding-left: 2em;
}

.controls .remove_point {
  float: right;
  padding-right: .2em;
}

.options {
  margin-left: 1em;
}

.options input[type="range"]{
  -webkit-appearance:none !important;
  -moz-appearance:none !important;
  width:100%;
  height: 0.25em;
  background-color: white;
}

.options input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none !important;
  -moz-appearance:none !important;
  width: 0.5em;
  height: 0.5em;
  background-color: white;
}